@model Guid

@{
    ViewBag.Title = "Reservation Complete";
    Layout = "~/Views/Shared/__Layout.cshtml";
}

<h2>Reservation Complete</h2>
<p>Thank-you for making your reservation, if you need to call about 
    your reservation please use this handy reference @(Model)</p>

<a href="/" class="btn btn-success">Back to Reservations</a>